@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}
body{
    
    min-height: 100vh;
}
.todos-bg-container {
    background-color: #060270;
    min-height: 100vh;
    padding: 20px;
    font-family: italic;
}

.todos-heading {
    text-align: center;

    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.create-task-heading {

    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.create-task-heading-subpart {

    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.input-cotainer {
    display: flex;
}

.todo-user-input {
    height: 50px;
    background-color: #E7DDFF;
    width: 60%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 15px;
}

.todo-user-input:focus {
    outline: none;
}

.todo-user-input::placeholder {
    color: #060270;
    font-family: italic;
}

.todo-items-heading {

    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.todo-items-heading-subpart {

    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button {
    width: 100px;
    height: 45px;
    color: #060270;
    background-color: #5DE2E7;
    font-family: italic;
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 50px;
}

.button:focus {
    outline: none;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-right: 10px;

}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;

}

.delete-icon {
    padding: 15px;
    color: red;
}

.checked {
    text-decoration: line-through;

}